name: SonarCloud Analysis

on:
    push:
        branches:
            - main
            - master
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    sonarcloud:
        name: Build and Analyze
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18

            # Install Frontend
            - name: Install Frontend Dependencies
              run: |
                  cd Hospital-system
                  npm install

            # Install Backend
            - name: Install Backend Dependencies
              run: |
                  cd Backend
                  npm install

            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                  args: >
                      -Dsonar.projectKey=cism21_hms
                      -Dsonar.organization=cism21
                      -Dsonar.sources=Hospital-system,Backend
                      -Dsonar.exclusions=**/node_modules/**,**/build/**,**/dist/**
                      -Dsonar.javascript.node.maxspace=4096
                      -Dsonar.javascript.internal.enableJsSecurity=false
